@font-face {
    font-family: "Brushfire-Reg";
    src: url("../fonts/Prompt-Regular.ttf");
}

@font-face {
    font-family: "Brushfire-Light";
    src: url("../fonts/Prompt-Light.ttf");
}

@font-face {
    font-family: "Brushfire-Bold";
    src: url("../fonts/Prompt-Bold.ttf");
}
